{{!--
    Polyline Widget Control
    ==================

    `charcoal/geolocation/property/input/polyline-widget`

    The polyline input widget will allow the user to access data that come from a google map
    There are difference possible action such as:
    - Create new polyline

--}}

<div class="o-toolbox" id="{{ inputId }}">
    {{> charcoal/geolocation/property/input/toolbox-actions }}
    <input type="hidden" name="{{ inputName }}" value="{{ inputVal }}" class="js-input">
</div>

{{# addJs }}
    {{> charcoal/geolocation/property/input/script/polyline-widget }}
    <script>
        var inputOptions = {
            id           : '{{ inputId }}',
            type         : '{{ inputType }}',
            data         :  {{& controlDataForJsAsJson }},
            controls_name: 'map_toolbox_{{ inputId }}',
            mode         : 'line'
        };

        Charcoal.Admin.manager().add_property_input(inputOptions);
    </script>
{{/ addJs }}
